@model List<LOGIN1.Models.Producto>

<h2>@ViewBag.NombreCategoria</h2>

<div class="row">
    @foreach (var producto in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@producto.ImagenUrl" class="card-img-top" alt="@producto.Nombre" />
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <p class="card-text"><strong>Precio:</strong> $@producto.Precio</p>
                </div>
            </div>
        </div>
    }
</div>
